@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    /* --background: 80 55.9% 2.72%; /
    --background: 225 30 110;
    --foreground: 80 8.6% 96.7%;

    --muted: 80 43% 10.200000000000001%;
    /* --muted-foreground: 57 39 70; /
    --muted-foreground: 64 66 85;

    --popover: 80 47.8% 4.42%;
    --popover-foreground: 80 8.6% 96.7%;

    --card: 121 68 84;
    --card-foreground: 80 8.6% 96.7%;

    --special: 198 100% 71%;
    --special-foreground: 198 60% 45%;

    --border: 80 43% 10.200000000000001%;
    --input: 80 43% 10.200000000000001%;

    /* --primary: 71 60% 37%; /
    --primary: 207 88 27;
    --primary-foreground: 80 8.6% 96.7%;

    /* --secondary: 121 68 84; /
    --secondary: 87 12 29;
    --secondary-foreground: 80 8.6% 96.7%;

    --ternary: 64 66 85;
    --ternary-foreground: 64 66 130;

    --quaternary: 121 68 84;
    --quaternary-foreground: 121 68 130;

    --content:225 30 110;

    /* --accent: 87 12 29; /
    --accent: 225 30 80;
    /* --accent: 225 30 110; /
    --accent-foreground: 80 8.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 80 8.6% 96.7%;

    --ring: 80 86% 34%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
} */

@layer base {
  :root {
    /* --background: 80 55.9% 2.72%; */
    --background: 225 30 110;
    /* --background: 75 5 15; */
    --foreground: 80 8.6% 96.7%;

    --muted: 75 10 32;
    /* --muted-foreground: 57 39 70; */
    /* --muted-foreground: 64 66 85; */
    --muted-foreground: 75 10 81;

    --popover: 80 47.8% 4.42%;
    --popover-foreground: 80 8.6% 96.7%;

    /* --card: 121 68 84; */
    --card: 256 68 38;
    --card-foreground: 80 8.6% 96.7%;

    --special: 198 100% 71%;
    --special-foreground: 198 60% 45%;

    --border: 80 43% 10.200000000000001%;
    --input: 80 43% 10.200000000000001%;

    /* --primary: 71 60% 37%; */
    /* --primary: 207 88 27; */
    /* --primary: 75 5 15; */
    /* --primary: 73 74 80; */
    /* --primary: 64 10 32; */
    /* --primary: 173 71 28; */
    --primary: 127 9 39;
    --primary-foreground: 80 8.6% 96.7%;

    /* --secondary: 121 68 84; */
    /* --secondary: 87 12 29; */
    --secondary: 256 68 38;
    /* --secondary: 215 83 35; */
    --secondary-foreground: 80 8.6% 96.7%;

    /* --ternary: 64 66 85; */
    --ternary: 215 83 35;
    /* --ternary: 216 50 70; */
    --ternary-foreground: 64 66 130;

    /* --quaternary: 121 68 84; */
    /* --quaternary: 256 68 38; */
    --quaternary: 216 50 70;
    --quaternary-foreground: 121 68 130;

    --content:73 9 9;
    --content-light: 73 9 99;

    /* --accent: 87 12 29; */
    --accent: 225 30 80;
    /* --accent: 225 30 110; */
    --accent-foreground: 80 8.6% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 80 8.6% 96.7%;

    --ring: 80 86% 34%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }

    .masonry {
      column-gap: 1.5em;
      column-count: 1;
    }

    .masonry-sm {
      column-gap: 1.5em;
      column-count: 2;
    }

    .masonry-md {
      column-gap: 1.5em;
      column-count: 3;
    }

    .break-inside {
      break-inside: avoid;
    }
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.rbc-toolbar {
  @apply bg-primary/80 font-extrabold text-content
}

.rbc-toolbar .rbc-btn-group button {
  @apply text-content bg-primary
}

.rbc-today {
  @apply text-red-800
}

.evenDays,
.oddDays {
  @apply bg-primary/40 font-extrabold text-content
}

.oddDays {
  @apply bg-primary/60 text-content
}

.meetingSlots {
  @apply bg-primary/80
}

.slotSelected {
  @apply bg-primary/20
}

.rbc-agenda-view {
  @apply bg-primary
}